.editButton, .deleteButton {
    height: 1.7rem;
    margin-top: 0.2rem;
    aspect-ratio: 1;
    opacity: 0.5;
    transition: 200ms ease-in-out;
}

.editButton:hover, .deleteButton:hover {
    opacity: 1;
}