.gameReviewPage{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem 1.5rem;
  overflow: scroll;

  .errorMessage {
    font-size: 2.5rem;
    color: #FDFDFD;
  }
}

::-webkit-scrollbar {
  display: none;
}

.wrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.horizontal {
  display: flex;
  gap: 1rem;

  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    padding: 0 0.5rem;
    width: 100%;
    height: 2.5rem;
    border: none;
    color: #D2D4D4;
    background-color: #465458;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 200ms ease-in-out;
  }

  button:hover {
    background-color: #576667;
  }

  button:disabled {
    background-color: #314348;
    color: #576667;
  }

  .rightPanel{
    width: 10rem;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .historyButtons {
      display: flex;
      gap: 0.5rem;
    }
  }
}