.wrapper{
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  .gameOverCard {
    width: 300px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap:10px;
    border:2px solid black;
    top:40%;
  }

  .buttons{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    button {
      padding: 20px;
      text-wrap: none;
    }
  }

}