.wrapper{
  position: relative;
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  gap: 10px;

  .rightPanel{
    display: flex;
    flex-direction: column;
  }

  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    button {
      padding: 20px;
      text-wrap: none;
    }
  }
}