.userItem {
  background-color: rgba(0, 0, 0, 0);
  transition: 200ms ease-in-out;

  .banButton, .deleteButton {
    height: 1.7rem;
    margin-top: 0.2rem;
    aspect-ratio: 1;
    opacity: 0.5;
    transition: 200ms ease-in-out;
  }

  .banButton:hover, .deleteButton:hover {
    opacity: 1;
  }
}

.userItem:hover {
  background-color: #364444;
}