.wrapper{
  display: flex;
  justify-content: space-between;
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.7em;
}

.playersBar {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0.7rem;
  font-weight: 600;
}

h1 {
  color: #576667;
  font-size: 2rem;
}

.playersBar img {
  aspect-ratio: 1;
  height: 4rem;
}

.playerNameSpan {
  color: #D2D4D4;
  font-size: 2.5rem;
}