.wrapper {
  margin-top: 1rem;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .searchLine{
    width: 100%;
  }
  input{
    width: 100%;
    height: 3rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: #D2D4D4;
    background-color: #182327;
  }
  input::placeholder {
    color: #576667;
  }

  .usersTable {
    border-collapse: collapse;
    tr {
      width: auto;
    }
    th{
      padding: 1rem;
    }
    td {
      color: #D2D4D4;
      font-size: 1.5rem;
      padding: 0.3rem 0.6rem;
      vertical-align: center;
    }
    td img{

      height: 1.7rem;
      margin-top: 0.2rem;
      margin: 0 auto;
      aspect-ratio: 1;
      opacity: 0.5;
      transition: 200ms ease-in-out;
    }
  }
}
