.wrapper{
  width: 300px;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap:10px;
  border:2px solid black;

  top:40%;

}